@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: black;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 16em;
}

.d-flex {
    display: flex;
}

header nav {
    gap: 2em;
}


header nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
  transition: color 0.3s ease, border-bottom 0.3s ease; 
}

header nav a:hover {
  color: purple;
}

.inicio {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}


.inicio {
    background: none;
}


.inicio .video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(60%); 
}


.inicio h1,
.inicio p,
.inicio a {
    position: relative;
    z-index: 2;
}


.inicio h1 {
    color: white;
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 900;
}

.inicio p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 100;
}

.inicio a{
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: purple 0.1em solid;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;
}


.contexto {
    padding: 60px 20px;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 60vh;
}

.contexto h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 900;
    text-align: center;
}

.contexto p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 100;
    text-align: center;
}

.funcionalidades {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  text-align: center;
  background-color: #000000;
  flex-wrap: wrap;
}

.funcionalidades div {
  background-color: #121224;
  border-radius: 20px;
  padding: 30px 20px;
  width: 20em;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.funcionalidades div:hover {
  transform: scale(1.05); 
}

.funcionalidades div p {
  font-size: 0.9em;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
}

.arte {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/arteia.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start;  
    text-align: left;        
    padding-left: 50px;
}

.arte h3 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 900;
}

.arte p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    font-weight: 100;
    line-height: 1.6;
}

.criatividade {
    padding: 60px 20px;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 60vh;
    background-color: #000000;
    text-align: center;
    gap: 10px;
}

.criatividade h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 900;
}

.criatividade p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 100;
    
}

.botaocriatividade {
    color: white;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: purple 0.1em solid;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;
    display: inline-block; 
    margin-top: 1em; 
}

footer {
    background-color: #0b0b14; 
    padding: 40px 80px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    width: 170px;
}

.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 50px;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.3s;
}

.footer-menu a:hover {
    color: #b67bff;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.footer-social .redes {
    width: 180px;
}

.footer-social p {
    font-weight: 200;
    font-size: 0.9em;
}

.musica {
    background-color: #0b0b14; 
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 60px 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

.musica-capa {
    position: relative;
    width: 350px;
    margin-left: 100px;
}

.musica-capa .capa {
    width: 100%;
    border-radius: 10px;
}

.musica-capa .vinil {
    position: absolute;
    bottom: -60px;
    left: 20px;
    width: 290px;
    z-index: 10;
}

.musica-texto h3 {
    font-size: 2.8em;
    font-weight: 900;
}

.musica-texto h2 {
    font-size: 1.4em;
    font-style: regular;
    margin-bottom: 20px;
    color: #cccccc;
}

.musica-texto p {
    font-size: 1.1em;
    line-height: 1.6;
    max-width: 550px;
}


#audio {
    display: none;
}

.vinil {
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.vinil.tocando {
    animation: girar 3s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}