<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artheon</title>
    <link rel="icon" href="../static/img/arte.png" type="logo">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="d-flex">
        <img src="../static/img/logo.png" alt="Logo Artheon">
        <nav class="d-flex">
            <a href="#contexto">Contexto</a>
            <a href="#funcionalidades">Uso da I.A.</a>
            <a href="#arte">Arte</a>
            <a href="">Música</a>
            <a href="">Criatividade</a>
        </nav>
    </header>
    <main>
        <section class="inicio">
            <video autoplay muted loop playsinline class="video-bg">
                <source src="../static/videos/banner.mp4" type="video/mp4">
            </video>

            <h1>I.A. na Arte e Música</h1>
            <p>Na busca pela perfeição, estamos perdendo a alma da arte?</p>
            <a href="">Saiba mais</a>
        </section>
        <section class="contexto" id="contexto">
            <h3>Contexto</h3>
            <p>Com o avanço acelerado da tecnologia, a Inteligência Artificial passou a ocupar um espaço cada vez maior na criação artística. Hoje, algoritmos já produzem pinturas, composições musicais, roteiros e até sequências cinematográficas — obras que antes pareciam depender exclusivamente da sensibilidade humana.</p>
        </section>
        <section class="funcionalidades d-flex" id="funcionalidades">
            <div>
                <img src="../static/img/arte.png" alt="Arte">
                <h4>IA na Arte</h4>
                <p>A IA desafia o papel do artista ao criar imagens e estilos próprios. Suas produções levantam dúvidas sobre autoria, originalidade e o real valor da expressão humana no processo criativo.</p>
            </div>
            <div>
                <img src="../static/img/musica.png" alt="Música">
                <h4>IA na Música</h4>
                <p>Algoritmos já compõem músicas completas, mas sem emoção ou vivência. Isso provoca debate sobre se a arte pode existir sem experiência humana e sentimento.</p>
            </div>
            <div>
                <img src="../static/img/criatividade.png" alt="Criatividade">
                <h4>Criatividade em Mudança</h4>
                <p>A IA não só auxilia, mas transforma a forma de criar. Essa parceria entre homem e máquina redefine o que entendemos por criatividade — e até onde ela continua sendo humana.</p>
            </div>
        </section>
        <section class="arte d-flex" id="arte">
            <h3>Arte com Inteligência Artificial</h3>
            <p>As pinturas geradas por Inteligência Artificial impressionam pelo realismo e pela riqueza de detalhes, muitas vezes indistinguíveis das obras humanas. No entanto, essa semelhança levanta questões sobre autenticidade e autoria: até que ponto a arte criada por algoritmos pode transmitir a mesma intenção e sensibilidade do artista?</p>
        </section>
       <section class="musica">
            <div class="musica-capa">
                <img src="../static/img/aquarela.png" class="capa" alt="Capa Aquarela">
                <img src="../static/img/vinil.png" class="vinil" id="btnVinil" alt="Disco Vinil">
            </div>
            <div class="musica-texto">
                <h3>Aquarela</h3>
                <h2>feita por Inteligência Artificial</h2>
                <p>“Aquarela” é um clássico de Toquinho que retrata o mundo como um desenho em transformação. Para este projeto, criamos uma versão feita por Inteligência Artificial, inspirada no estilo original, mantendo o clima leve e imaginativo da canção.</p>
            </div>
            <audio id="audio" src="../static/audios/Numa folha qualquer (1).mp3"></audio>
        </section>
        </section>
        <section class="criatividade">
            <h3>Pronto para Explorar?</h3>
            <p>Descubra como a IA está transformando a arte e a criatividade. Experimente ferramentas, veja exemplos e inspire-se com a nova era da criatividade.</p>
            <a class="botaocriatividade" href="">Saiba mais</a>
        </section>
        
    </main>
    <footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="../static/img/logo.png" alt="Logo Artheon">
        </div>
        <nav class="footer-menu">
            <a href="#contexto">Contexto</a>
            <a href="#funcionalidades">Uso da I.A.</a>
            <a href="#arte">Arte</a>
            <a href="#">Música</a>
            <a href="#">Criatividade</a>
        </nav>
        <div class="footer-social">
            <img src="../static/img/redes.png" alt="Redes Sociais" class="redes">
            <p>© 2025 - Todos os direitos reservados</p>
        </div>

    </div>
</footer>
    <script>
        const audio = document.getElementById("audio");
        const vinil = document.getElementById("btnVinil");

        vinil.addEventListener("click", () => {
            if (audio.paused) {
                audio.play();
                vinil.classList.add("tocando");
            } else {
                audio.pause();
                vinil.classList.remove("tocando");
            }
        });

        audio.addEventListener("ended", () => {
            vinil.classList.remove("tocando");
        });
    </script>
</body>
</html>